.wrap {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    'users users users'
    'users users users'
    'users users users'
    'paginator paginator paginator';
}

.paginator {
    grid-area: paginator;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users {
    grid-area: users;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 135px);
}

.user {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.userPreview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userPreview img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.userInfoWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    height: 100%;
    /* background: #b0b0b0; */
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.name {
    text-align: center;
    font-weight: 600;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}

.btn {
    background: #3774cb;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
}

.sendBtn {
    background: #fff;
    text-align: center;
    color: #000;
}

.btn :disabled {
    background: #000;
}

.followed {
    background: #b1b1b1;
}

.currentPage {
    font-weight: 700;
    background: gold;
}