.wrap, .wrapRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    justify-content: flex-start;
    /* background: #fff; */
    /* padding: 15px; */
    /* border-radius: 20px; */
}
.wrapRight {
    justify-content: flex-end;
}

.wrap img, .wrapRight img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.message {
    background: rgb(143, 143, 143);
    padding: 10px 15px;
    max-width: 60%;
    border-radius: 20px;
    white-space: pre-wrap;
}

.senderName {
    font-size: 12px;
    font-weight: 400;
}

.messageBody {
    font-size: 16px;
    font-weight: 500;
}

.messageTime {
    padding-top: 10px;
    font-size: 10px;
    text-align: right;
}

p, h3 {
    word-wrap: break-word;
    color: #eaeaea;
}