.formControl input, .formControl textarea {
    font-weight: 700;
}
.error textarea, .error input {
    border: 1px solid red
}

.errorMessage {
    color: red !important; 
}

.inputWrap {
    display: flex;
}