.wrap {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.profilePhoto {
    height: 300px;
    object-fit: contain;
}

.profileInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profileName{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.status {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.contacts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #fff
}