body {
  background: #5057ab;
}

.App {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'h h h'
  's c c'
  'f f f'
  ;
  grid-template-rows: 60px 1fr 120px;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */

}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, a, p {
  margin: 0;
  padding: 0;
}

textarea:focus-visible {
  outline: none;
  border: none;
}

.contentWrapper {
  grid-area: c;
  background: #5c5c5c;
  /* padding: 20px 10px; */
}

footer {
  grid-area: f;
  background: #8c8c8c;
  text-align: center;
}