.wrap {
    display: flex;
    width: 100%;
    /* gap: 10px; */
}

.dialogs {
    width: 30%;
    padding: 10px 0;
    background: #5c5c5c;
    /* border-radius: 20px; */
    text-align: center;
}

.dialogItems {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding-top: 10px;
    align-items: flex-start;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    background: #1b1b1b;
    /* border-radius: 20px; */
    padding: 10px;
}

.messagesArea {
    height: 60vh;
    overflow-y: scroll;
}

.newMessage {
    display: flex;
    align-items: center;
    background: #5c5c5c;
    border: 1px solid #8c8c8c;
    border-radius: 10px;
    padding: 10px;
    min-height: 60px;
}

.newMessage textarea {
    resize: none;
    min-height: 60px;
    background: #5c5c5c;
}
.newMessage button {
    width: 60px;
    height: 60px;
    padding: 0;
    background: #5c5c5c;
    font-weight: 700;
    color: #8c8c8c;
    border: 0.5px solid #8c8c8c;
    border-radius: 100%;
}

h2 {
    text-align: center;
    margin: 0;
    color: #fff;
}

