.wrap {
    display: flex;
    width: 100%;
    /* gap: 10px; */
}

.dialogs {
    width: 30%;
    padding: 10px 0;
    background: #5c5c5c;
    /* border-radius: 20px; */
    text-align: center;
}

.dialogItems {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding-top: 10px;
    align-items: flex-start;
}

.messages {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    width: 100%;
    background: #1b1b1b;
    margin-top: 50px;
    /* border-radius: 20px; */
    /* padding: 10px; */
}

.messagesArea {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.newMessage {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5c5c5c;
    border: 1px solid #8c8c8c;
    border-radius: 10px;
    padding: 10px;
    min-height: 60px;
}

.newMessage textarea {
    resize: none;
    width: 100% - 60px !important;
    min-height: 60px;
    background: #5c5c5c;
}
.newMessage button {
    width: 60px;
    height: 60px;
    padding: 0;
    background: #5c5c5c;
    font-weight: 700;
    color: #8c8c8c;
    border: 0.5px solid #8c8c8c;
    border-radius: 100%;
}

h2 {
    text-align: center;
    margin: 0;
    color: #fff;
}

.dialogHeader {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    background: #8c8c8c;
    z-index: 4;
}

.dialogHeader img {
    height: 50px;
    border-radius: 100%;
}